<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Using Inline SVG</title>
  </head>
  <body>
    <svg
      id="be452e83-5912-4855-80f8-a79ecab91838"
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      width="915.11162"
      height="600.53015"
      viewBox="0 0 915.11162 600.53015"
    >
    <circle id="outline_curves" class="circle outline"  cx="50%" cy="50%">
    </circle>
    <circle id="low" class="circle range" cx="50%" cy="50%" stroke="#FDE47F">
    </circle>
    <circle id="avg" class="circle range" cx="50%" cy="50%" stroke="#7CCCE5">
    </circle>
    <circle id="high" class="circle range" cx="50%" cy="50%" stroke="#E04644">
    </circle>
    <circle id="mask" class="circle" cx="50%" cy="50%" >
    </circle>
    <circle id="outline_ends" class="circle outline" cx="50%" cy="50%">
    </circle>
    </svg>
  </body>
</html>
