/* CSS for text */

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333; /* Dark gray background */
    color: #fff; /* White text color */
  }
  
  h2,
  h3 {
    color: #fff; /* White text color */
  }
  
  h2 {
    font-size: 28px;
  }
  
  h3 {
    font-size: 22px;
  }
  
  table {
    border-collapse: collapse;
  }
  
  td {
    padding: 10px;
    text-align: left;
  }
  
  .graybg1 {
    background-color: #555; /* Dark gray background */
    color: #fff; /* White text color */
  }
  
  .graybg1,
  input[type="text"],
  select {
    font-size: 16px;
    color: #000000; /* White text color */
  }
  
  input[type="button"] {
    background-color: #4CAF50;
    color: #464646; /* White text color */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }


  
  /* CSS for chart */
  
  #chart {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: block;
    background-color: #444; /* Dark gray background */
    border: 1px solid #888; /* Light gray border */
  }
  
  #wrapper {
    position: relative;
    margin: auto;
}

#meter {
    width: 50%;
    height: 50%;
    transform: rotateX(180deg);
}

.circle {
    fill: none;
}

.outline,
#mask {
    stroke: #F1F1F1;
    stroke-width: 32.5;
}

.range {
    stroke-width: 30;
}

#slider,
#lbl {
    position: absolute;
}

#slider {
    cursor: pointer;
    left: 0;
    margin: auto;
    right: 0;
    top: 29%;
    width: 47%;
}

#lbl {
    background-color: #4B4C51;
    border-radius: 1px;
    color: white;
    font-family: 'courier new';
    font-size: 7.5pt;
    font-weight: bold;
    padding: 2px 2px 1px 2px;
    right: -24px;
    top: 28%;
}

#meter_needle {
    height: 20%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 5%;
    transform-origin: bottom center;
    transform: rotate(270deg);
}

input[type=range] {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #F6F6F6;
    border-radius: 12.5px;
    box-shadow: 0 0 0 0.5px #f6f6f6;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0 0 1px #B2B2B2;
    border-radius: 25%;
    height: 15px;
    width: 15px;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #F6F6F6;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 6.4px;
    cursor: pointer;
    background: #F6F6F6;
    border-radius: 12.5px;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0 0 1px #B2B2B2;
    border-radius: 25%;
    height: 15px;
    width: 15px;
    background: #fff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 6.4px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #F6F6F6;
    border-radius: 25px;
}

input[type=range]::-ms-fill-upper {
    background: #F6F6F6;
    border-radius: 25px;
}

input[type=range]::-ms-thumb {
    height: 15px;
    width: 15px;
    top: 2.5px;
    position: relative;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 0 1px #B2B2B2;
}

input[type=range]:focus::-ms-fill-lower {
    background: #F6F6F6;
}

input[type=range]:focus::-ms-fill-upper {
    background: #F6F6F6;
}

